.env
*.env
*.log

.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

backend/__pycache__/
backend/.env
backend/__pycache__/.env

data/ecg/raw/
data/cas_cliniques/raw/
data/cas_cliniques/annotations/

.vscode/
